.intestazione{ 
background-color: yellow;
text-align: center;
border-style: solid;
border-width: 10px;
padding: 3px;
}

.nav-link{
    font-size: 15px;
    color: red;
}
.contenitore{
    border-style: solid;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 250px;
    left: 200px;
}
.simbolo{
    font-size: 40px;
}